NEXT_PUBLIC_API_BASE_URL=""
DATABASE_URL=postgresql://neondb_owner:npg_z5mUhKOrk3Ai@ep-aged-violet-aygl1pvl-pooler.c-5.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:npg_z5mUhKOrk3Ai@ep-aged-violet-aygl1pvl.c-5.us-east-2.aws.neon.tech/neondb?channel_binding=require&sslmode=require
NEON_PROJECT_ID=withered-glade-57887585